/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*** ヘッダー ***/
.navbar-nav .nav-link {
	border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover {
	border-bottom: 2px solid #4682b4;
}


/*** フッターの固定 ***/
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}


/*** トップ ***/
.top_container {
  position: relative;
}

.top_img {
  height: 50vh;
  width: 100%;
	background-image: url("logo1_no_st.png");
	background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.top_img:before {
  animation: top_img 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
@keyframes top_img {
  100% {
    transform: translateX(100%);
  }
}

.top_text {
  height: 50vh;
  width: 100%;
  background: rgba(255,255,255,0.9);
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  animation: top_text 1s forwards 1.5s linear;
}
@keyframes top_text {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


/*** トレンドテーブル ***/
.tw_tr_count {
	font-size: 14px;
}


/*** タブ機能 ***/
.tab_btn {
  margin-bottom: 0;
}

.tab_box .btn_area {
	margin:0 10px;
	display: -webkit-box;
	display: flex;
}

.tab_box .tab_btn {
	width: 188px;
	padding: 8px 0;
	color: #333;
	background: #f5f7f8;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.tab_box .tab_btn + .tab_btn {
	margin-left: 8px;
}

.tab_box .tab_btn:hover {
	background-color: #dce1e4;
}

.btn_area .tab_btn.active:hover {
	background: #4682b4;
}

.tab_box .tab_btn.active {
  background: #07539f;
  color: #fff;
}

.tab_box .panel_area {
  border: solid 1px #e3ebf3;
  padding: 10px;
}

.tab_box .tab_panel {
  display: none;
}

.tab_box .tab_panel.active {
  display: block;
}

.edit_tog {
  display: none;
}

.del_tog {
	text-size: 80%;
	display: none;
	width: 40px;
}

/*** モーダルウィンドウ ***/
.modalsearch {
  position: fixed;
  // background-image: image-url("search-title.png");
  background-size: cover;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  width: 90vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  z-index: 2;
  display: none;
}

.modalsearch-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modalsearch-title {
  height: 20vh;
  width: auto;
  color: rgb(0, 0, 0);
  font-family: 'Permanent Marker', cursive;
  font-size: 7vw;
  text-align: center;
}

.modalsearch-close {
  cursor: pointer;
  font-size: 3vw;
  height: 4vw;
}

.search-label {
  font-family: "M PLUS Rounded 1c";
  font-size: 1.2vw;
}

.search-text {
  width: 25vw;
  height: 5vh;
  color: #000000;
  border: solid 3px #000000;
  margin: 0.5em;
  font-size: 1.2vw;
  background-color: #ffffff33;
}

.search-submit {
  width: 15vw;
  height: 7vh;
  color: #000000;
  border: solid 3px #000000;
  border-radius: 20%;
  margin: 0.5em;
  font-size: 1.2vw;
  background-color: #ff00004f;
  font-family: 'Permanent Marker', cursive;
}

.masksearch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none;
}