<p>こんにちは <%= @resource.email %> さん!</p>

<p>『比べたter』のパスワードを変更するためのリンクがリクエストされました。変更が必要な場合、以下のリンクから実行できます。</p>

<p><%= link_to 'パスワードを変更する', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードの変更するを要求した覚えがない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
