<div class="container">
  <div class="row my-3">
    <a href="/trends" class="btn btn-info rounded-pill d-flex align-items-center mr-3"><span>トレンド</span></a>
    <a href="/searchs" class="btn btn-info rounded-pill d-flex align-items-center ml-3"><span>気になるワード<span></span></a>
    <div class="ml-md-5">
      <%= form_with url: "/searchs",method: :get do |form| %>
        <%= form.text_field :keyword %>
        <button title="検索" type="submit">検索</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 tweet_count">
      <% if @keyword.present? %>
        <h2 class="my-2">検索結果: <%= @keyword %></h2>
        <%= @tweets %>
      <% else %>
        キーワードを検索してください。
      <% end %>
    </div>
  </div>
</div>